.roomHeader {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 var(--space-3);
    background-color: var(--color-background);
    border-bottom: 1px solid var(--gray-4);
    flex-shrink: 0;
    transition: background-color 0.2s;
}

.leftSection {
    flex: 1;
    min-width: 0;
    max-width: 60%; /* Prevent title from taking too much space in selection mode? */
}

.rightSection {
    flex: 1;
    justify-content: space-around;
}

.backButton {
    cursor: pointer;
    padding: 4px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.backButton:hover {
    background-color: var(--gray-3);
}

.titleArea {
    cursor: pointer;
    border-radius: var(--radius-2);
    padding: 4px var(--space-2);
    transition: background-color 0.2s;
    overflow: hidden;
}

.titleArea:hover {
    background-color: var(--gray-2);
}

.membersList {
    opacity: 0.8;
}

.actionButton {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
