.skeleton {
    border-right: 1px solid var(--glass-border);
}

.sidebar {
    border-right: 1px solid var(--gray-4);
}
.MLSkeleton {
    border-bottom: 1px solid var(--gray-4);
}

.radius {
    border-radius: 50%;
}
