.header {
    height: var(--header-height);
    padding: 0 var(--space-3);
    border-bottom: 1px solid var(--glass-border);
    display: flex;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

.icon {
    color: var(--accent-9);
}
