.header {
    height: var(--header-height);
    padding: 0 var(--space-4);
    display: flex;
    align-items: center;
    border-bottom: var(--border-width-base) solid var(--glass-border);
    justify-content: space-between;
}

.icon {
    color: var(--accent-9);
}

.title {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-extrabold);
    letter-spacing: -0.5px;
    color: var(--accent-primary);
    filter: drop-shadow(var(--shadow-glow) var(--accent-primary));
    transition: all var(--transition-slow);
    cursor: default;
    user-select: none;
}

.emptyText {
    font-size: var(--text-sm);
    color: var(--muted);
}
