.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    padding: var(--space-4);
    border-bottom: 1px solid var(--gray-4);
}

.icon {
    color: var(--accent-9);
}
