.scrollArea {
    height: 100%;
}

.viewport {
    padding: var(--space-4);
}

.loadingBox,
.emptyBox {
    padding: var(--space-4);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.emptyBox {
    opacity: 0.5;
}
