# Production Supabase
# ⚠️ Этот файл НЕ должен попадать в git!
# Используйте ТОЛЬКО для ручного тестирования production

# URL production Supabase
# Замените на ваш production URL
VITE_SUPABASE_URL=

# Anon key для production
VITE_SUPABASE_ANON_KEY=

# Отключаем mock режим
VITE_USE_MOCK=false

# Service role key (ТОЛЬКО для seed-скриптов!)
SUPABASE_SERVICE_ROLE_KEY=

# Пароль postgres
SUPABASE_CLI_PASSWORD=

# IP домашнего сервера (внутри VPN)
SUPABASE_HOME_IP_ADDRESS=

# JWT Secret
JWT_SECRET=

# Путь на сервер Брево
PB_SMTP_HOST=

# Порт Брево по умолчани
PB_SMTP_PORT=

# Адрес почты из Брево
PB_SMTP_USER=

# Ключ Брево, взять из личного аккаунта
PB_SMTP_PASS=

#
PB_SMTP_TLS=

# Ключи для пушей
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
