.inputArea {
    flex-shrink: 0;
    z-index: var(--z-dropdown);
    padding: 0;
    max-height: 50vh;
    display: flex;
    box-sizing: border-box;
    min-height: var(--header-height);
    align-items: end;
}

.systemMessage {
    justify-content: center;
    padding: var(--space-4);
    text-align: center;
}
