.sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--surface);
    border-right: 1px solid var(--border);
    overflow: hidden;
}

.content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.footer {
    border-top: 1px solid var(--border);
}
