.input {
    display: flex;
    height: 2.5rem; /* 40px */
    /* width: 100%; */
    border-radius: var(--radius-md);
    border: 1px solid var(--border);
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    font-size: var(--text-sm);
    color: var(--foreground);
    transition: border-color 0.2s;
}

.input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 1px var(--primary);
}

.input::placeholder {
    color: var(--muted-foreground);
}
