.statusIndicator {
    width: 10px;
    height: 10px;
    border-radius: var(--radius-full);
}

.statusActive {
    background: var(--green-9);
}

.statusSyncing {
    background: var(--orange-9);
}

.hiddenInput {
    display: none;
}

.name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container {
    gap: var(--space-4);
    display: flex;
    flex-direction: column;
}
